<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">eMarketeer</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/user/{{model.uid}}/search" class="btn btn-block">Search Item</a></li>
                <li><a href="#/user/{{model.uid}}/sell" class="btn btn-block">Sell Item</a></li>
                <li><a href="#/user/{{model.uid}}/social" class="btn btn-block">Search User</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" class="btn btn-block" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1>ADMIN</h1>


<a href="#/admin/user" class="btn btn-primary" type="button">Users</a>
<a href="#/admin/item" class="btn btn-warning" type="button">Items</a>
</div>
<div class="container">
    <div>
        <a href="#/user/{{model.uid}}" class="btn btn-info btn-circle-left btn-lg"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
</div>


<div class="container">
    <div>
        <a href="#/user/{{model.uid}}" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-user"></i></a>
    </div>
</div>