<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">

    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div ng-show="model.error2" class="alert alert-warning" role="alert">
        {{model.error2}}
    </div>

    <div ng-show="model.error3" class="alert alert-warning" role="alert">
        {{model.error3}}
    </div>

    <form>
        <div class="form-group">
            <label for="username"><h4>Username *</h4></label>
            <input ng-model="user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="alice1"/>

            <label for="password"><h4>Password *</h4></label>
            <input ng-model="user.password"
                   type="password"
                   class="form-control"
                   id="password"
                   placeholder="XYZ123"/>

            <label for="verify_password"><h4>Verify Password *</h4></label>
            <input ng-model="user.password2"
                   type="password"
                   class="form-control"
                   id="verify_password"
                   placeholder="XYZ123"/>

            <label for="first"><h4>First Name *</h4></label>
            <input ng-model="user.first"
                   type="text"
                   class="form-control"
                   id="first"
                   placeholder="Alice"/>

            <label for="last"><h4>Last Name</h4></label>
            <input ng-model="user.last"
                   type="text"
                   class="form-control"
                   id="last"
                   placeholder="Wonderland"/>

           <br> <a ng-click="model.register(user)" class="btn btn-primary btn-block btn-lg">
                Register
            </a>
           <br> <a class="btn btn-danger btn-block btn-lg" href="#/login">
                Cancel
            </a>
        </div>
    </form>
    </div></div></div>