<div class="container">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.username"
                   class="form-control"
                   id="username"
                   placeholder="alice1"/>

            <label for="password">Password</label>
            <input ng-enter="model.login(model.username, model.password)"
                   type="password"
                   ng-model="model.password"
                   class="form-control"
                   id="password"
                   placeholder="XYZ123"/>

            <a ng-click="model.login(model.username, model.password)"
               class="btn btn-primary btn-block">
                Login
            </a>
            <a class="btn btn-success btn-block" href="#/register">
                Register
            </a>
            <a href="/auth/google" class="btn btn-danger btn-block">
                <span class="fa fa-google-plus"></span><!--font awesome-->
                Google
            </a>
            <a href="/auth/facebook" class="btn btn-primary btn-block">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>
    </form>
</div>