/* BODY */
body {
    padding-top: 50px;
    padding-bottom: 60px;
}

.row {
    width: 100%;
}

/* NAVIGATION BAR */
.navbar-default {
    background-color: steelblue;
}

.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar-header {
    float: none;
}

.navbar-text {
    margin-left: 0px;
    margin-right: 0px;
}

.glyphicon {
    color: aliceblue;
}

.glyphicon-chevron-left {
    margin-left: 20px;
}

.glyphicon-ok {
    margin-right: 20px;
}

.glyphicon-plus{
    margin-right: 20px;
}

.glyphicon-cog {
    color: steelblue;
}

.glyphicon-menu-hamburger {
    color: steelblue;
}

/* CONTAINER */
.container {
    padding-top: 10px;
    width: 100%;
}

.left-pane {
}

.right-pane {
}

/* FORM */
input.form-control {
    margin-bottom: 5px;
}

.divider {
    padding-right: 0px;
    padding-left: 0px;
    width: 25%;
    height: 100%;
    border-left: 0px;
    border-right: 1px solid grey;
    border-top: 0px;
    border-bottom: 0px;
    position: fixed;
}


/* TABLE */
table#website-list {
    width: 100%;
}

table#page-list {
    width: 100%;
}

td, th {
    padding: 10px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: inherit;
    background-color: #ffffff;
    height: auto;
}

.jumbotron p {
    margin-bottom: 0px;
}

.outer {
    position: relative;
    width: 100%;
}

.inner {
    width: 80%;
    height: auto;
    z-index: 100;
    background: #ffffff;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.option {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 110;
    right: 0px;
    background: #ffffff;
    top: 0px;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
}

.widget-img{
    text-align: center;
    width: 80%;
}