<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="navbar-header">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    New Widget
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.createWidget()" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div ng-include="'views/widget/widget-'+model.wgType+'-editor.html'"></div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>