<div>
    <form>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="url"
                   placeholder="https://youtube.com/watch?v=..xyz123"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.widget.description" class="form-control" id="description"
                      placeholder="Text goes here..."></textarea>
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="500"/>
        </div>
        <div class="form-group">
            <label for="height">Height</label>
            <input ng-model="model.widget.height" type="text" class="form-control" id="height" placeholder="300"/>
        </div>
    </form>
</div>