<div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Widget Heading"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.widget.description" class="form-control" id="description"
                      placeholder="Text goes here..."></textarea>
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="1 to 6"/>
        </div>
    </form>
</div>